<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="/weather-forecast.png">
    <title>Weather Forecasting</title>
</head>

<body>
    <div class="main-container">
        <video src="rain.mp4" autoplay muted loop></video>
        <div class="container">
            <div class="heading-container">
                <div class="image-container">
                    <img src="/weather-forecast.png" alt="Weather Forecast Logo">
                </div>
                <div class="desc-container">
                    <span>Weather Forecast</span>
                </div>
            </div>
            <div class="app-container">
                <div id="message"></div>
                <div class="box" id="box">
                    <div class="wave one"></div>
                    <div class="wave two"></div>
                    <div class="wave three"></div>
                    <div id="weathericon"></div>
                    <div class="info">
                        <h2 class="location"><i class="fa-solid fa-street-view"></i><span id="spanLocation"></span></h2>
                        <p id="date"></p>
                        <h1 id="temp"></h1>
                        <h3 id="rangetemp"></h3>
                        <h1 id="humidityRange"></h1>
                    </div>
                </div>
                <div class="search">
                    <input type="text" id="city" placeholder="Enter a city name">
                    <button type="submit" id="submit">Search</button>
                </div>  
            </div>
        </div>
    </div>


    <section id="section-wrapper">
        <div class="box-wrapper">
            <div class="info-wrap">
                <h2 class="info-title">Contact Information</h2>
                <h3 class="info-sub-title">Fill up the form and our Team will get back to you within 24 hours</h3>
                <ul class="info-details">
                    <li>
                        <i class="fas fa-phone-alt"></i>
                        <span>Phone :</span> <a href="#">+ 1234 5678 90</a>
                    </li>
                    <li>
                        <i class="fas fa-paper-plane"></i>
                        <span>Email :</span> <a href="#">info@xyz.com</a>
                    </li>
                    <li>
                        <i class="fas fa-globe"></i>
                        <span>Website :</span> <a href="#">xyz.com</a>
                    </li>
                </ul>
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="form-wrap">
                <form action="#" >
                    <h2 class="form-title">Send us a message</h2>
                    <div class="form-fields">
                        <div class="form-group">
                            <input type="text" class="fname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="lname" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="email" placeholder="Mail">
                        </div>
                        <div class="form-group">
                            <input type="number" class="phone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="" placeholder="Write your message"></textarea>
                        </div>
                    </div>
                    <input type="submit" value="Send Message" class="submit-button">
                </form>
            </div>
        </div>
    </section>


    <script src="home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>