<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="/weather-forecast.png">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <title>Weather Forecasting</title>
</head>

<body>
    <div class="cookie-consent" id="cookieConsent">
        <div class="cookie-icon-container">
            <i class="bx bx-cookie"></i> <!-- Cookie Icon -->
            <span>Cookies Consent</span> <!-- Text beside the icon -->
        </div>
        <p>This website uses cookies to ensure you get the best experience on our website. <a href="#" style="color: #f8f393;">Learn more</a></p>
        <div class="cookie-buttons">
            <button onclick="acceptCookies()">Accept</button>
            <button onclick="declineCookies()">Decline</button>
        </div>
    </div>
    
    <div class="main-container">
        <video src="rain.mp4" autoplay muted loop></video>
        <div class="container">
            <div class="heading-container">
                <div class="image-container">
                    <img src="/weather-forecast.png" alt="Weather Forecast Logo">
                </div>
                <div class="desc-container">
                    <span>Weather Forecast</span>
                </div>
            </div>
            <div class="app-container">
                <div id="message"></div>
                <div class="box" id="box">
                    <div class="wave one"></div>
                    <div class="wave two"></div>
                    <div class="wave three"></div>
                    <div id="weathericon"></div>
                    <div class="info">
                        <h2 class="location"><i class="fa-solid fa-street-view"></i><span id="spanLocation"></span></h2>
                        <p id="date"></p>
                        <h1 id="temp"></h1>
                        <h3 id="rangetemp"></h3>
                        <h1 id="humidityRange"></h1>
                    </div>
                </div>
                <div class="search">
                    <input type="text" id="city" placeholder="Enter a city name">
                    <button type="submit" id="submit">Search</button>
                </div>  
            </div>
        </div>
    </div>


    <section id="section-wrapper">
        <div class="box-wrapper">
            <div class="form-wrap">
                <form action="#" >
                    <h2 class="form-title">Send us a message</h2>
                    <div class="form-fields">
                        <div class="form-group">
                            <input type="text" class="fname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="lname" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="email" placeholder="Mail">
                        </div>
                        <div class="form-group">
                            <input type="number" class="phone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="" placeholder="Write your message"></textarea>
                        </div>
                    </div>
                    <input type="submit" value="Send Message" class="submit-button">
                </form>
            </div>
        </div>
    </section>


    <script src="home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
    (function(){
      emailjs.init("WB9rAyWwwLZube-er");
    })();

    // Check if the user has accepted or declined cookies
if (!document.cookie.includes("cookieConsentAccepted") && !document.cookie.includes("cookieConsentDeclined")) {
   showCookieConsent();
}

// Function to show the cookie consent popup
function showCookieConsent() {
   var cookieConsent = document.getElementById("cookieConsent");
   cookieConsent.style.display = "flex";
}

// Function to accept cookies and hide the popup
function acceptCookies() {
   var cookieConsent = document.getElementById("cookieConsent");
   cookieConsent.style.display = "none";

   // Set a cookie to remember that the user has accepted cookies
   document.cookie = "cookieConsentAccepted=true; max-age=" + 60 * 60 * 24 * 30; // Set to expire in 30 days
}

// Function to decline cookies and hide the popup
function declineCookies() {
   var cookieConsent = document.getElementById("cookieConsent");
   cookieConsent.style.display = "none";

   // Set a cookie to remember that the user has declined cookies
   document.cookie = "cookieConsentDeclined=true; max-age=" + 60 * 60 * 24 * 30; // Set to expire in 30 days
}

  </script>
</body>

</html>